
/* PARA Z INDEX */

.capa {
    width: 200px;
    height: 200px;
  /*   opacity: .7;   */
    font-size: 3em;
    text-align: center;
    line-height: 200px;
    color: #fff;
    position:relative;
    margin-left: 400px;
  }
  
  .uno {
    background: hsl(108, 100%, 50%);
  }
  
  .dos {
    background: hsl(200,70%,50%);
    top: -100px;
    left: 100px;
    z-index: 300;
  
  }
  
  .tres {
    background: hsl(300,70%,50%);
    top: -200px;
    left: 200px;
    z-index: 200;
   
  }

/* PARA EL MENU */


.main-nav {
    position: fixed;
    background: #ddd;
    width: 25%;
    top: 0;
    height: 100%;
    overflow: auto;
  }
  
  .main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .menu-link {
    display: block;
    line-height: 3;
    text-decoration: none;
    color: #222;
    padding-left: 1em;
  }
  
  main {
    margin-left: 27%;
  }
  
  .menu-item {
    border-bottom: 1px solid #bbb;
  }





/* POSITION FIXED

/* Position fixed
1. pierde espacio ne le flujo
2. su contexto es el viewport
3. sus dimensiones se ajustan al contenido
(salvo que se haya declarado su tamaño)

body {
    padding-top:50px;
    
  }
  
  .main-header {
    background: black;
    width: 100% ;
    color: white;
    padding: 1em;
    text-align: center;
    position: fixed;
    top:0;
  }

 FIN POSITION FIXED*/





/* MENU css  ----

.menu, .menu ul {
    list-style: none;
    margin-top: 0;
    margin-bottoem: 0;
    padding-left: 0;
  }
  
  .menu {
    background: #333;
    display: table;
  }
  
  .menu > li {
    float: left;
  /*   solo flotan a la izqueirda los hijos directos /
  
  }
  
  .menu li {
    position: relative;
  /*    flotan a la izqueirda los hijos  /
  }
  
  .menu li:hover {
    background: rgba(0,0,0,.5)
  }
  
  .menu a {
    color: #eee;
    text-decoration: none;
    display: block;
    padding: .5em 1.5em;
    
  }
  
  .menu li > ul {
    position: absolute;
    background: green;
    width: 170px;
    display: none;
    
  }
  
  .menu li:hover > ul {
    display: block;
  }
  
  .menu ul ul {
    position: absolute;
    background: red;
    top: 0;
    left: 100%;
  }

 FIN DE MENU*/





/** POSISION ABSOLUTE Y POSTER-->
.poster {
    width: 300px;
    position: relative;
  }
  
  .poster img {
    width: 100%;
    display: block;
    
  }
  
  .caption {
    background: rgba(0,0,0,.8);
    position: absolute;
    color: white; 
    top: -100%;
    text-align: center;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
  }
  
  .poster:hover .caption {
    top: 0;
  }

   **/